@import "variable";

.inner {
  max-width: 1200px;
  margin: 0 auto;
}
.in {
  width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Noto Sans Kr", "Malgun gothic", Arial, sans-serif;
  font-size: 14px;
  color: $font-color;
  font-weight: 400;
  line-height: 1.5;
}

header {
  .topmenu {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid $color-light-gray;
    ul {
      display: flex;
      justify-content: right;
      align-items: center;
      li {
        &:last-child {
          padding-left: 7px;
        }
        &:not(:last-child) {
          padding-left: 12px;
          margin-left: 12px;
          position: relative;
          &:not(:first-child) {
            &:before {
              content: "";
              display: block;
              position: absolute;
              top: 15px;
              left: 0;
              width: 1.5px;
              height: 10px;
              background-color: $color-light-gray;
            }
          }
        }
        a {
          display: inline-block;
          height: 40px;
          line-height: 40px;
          font-size: 13px;
          color: $font-light-gray;
        }
        img {
          vertical-align: middle;
        }
      }
    }
  }
  .mainmenu {
    width: 100%;
    height: 80px;
    .inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .gnb {
        display: flex;
        .gnb_li {
          height: 100%;
          > a {
            display: block;
            height: 100%;
            line-height: 80px;
            padding: 0 28px;
            text-align: center;
            font-size: $font-size-19;
          }
          &:hover .dep1 {
            display: block;
            z-index: 10;
          }
          .dep1 {
            width: 100%;
            background: $color-submenu url(../images/bg_gnb_over.png) no-repeat
              100% 100%;
            display: none;
            position: absolute;
            top: 120px;
            left: 0;
            .in {
              display: flex;
              .dep1_li {
                display: flex;
                margin: 30px 35px;
                li {
                  width: 210px;
                  height: 50px;
                  margin-right: 15px;
                  > a {
                    line-height: 50px;
                    padding-left: 30px;
                    background: $color-white url(../images/bu_gnb_off.png)
                      no-repeat 15px 50%;
                    position: relative;
                    display: block;
                    font-size: $font-size-16;
                    &:hover {
                      color: #fff;
                      background: #c03e3e url(../images/bu_gnb_on.png) no-repeat
                        15px 50%;
                    }
                  }
                  .dep2 {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    a {
                      display: block;
                      margin-bottom: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .allmenu_btn {
        width: 80px;
        height: 80px;
        background: #c03e3e url(../images/btn_all.png) no-repeat 50% 50%;
        cursor: pointer;
        .allmenu {
          display: none;
          width: 100%;
          height: 278px;
          position: absolute;
          top: 120px;
          left: 0;
          border-top: 1px solid #b4b4b4;
          border-bottom: 1px solid #b4b4b4;
          background-color: #fff;
          z-index: 10;
          .in {
            height: 100%;
            display: flex;
            .allmenu_li {
              width: 16.666%;
              height: 100%;
              border-right: 1px solid #b4b4b4;
              &:first-child {
                border-left: 1px solid #b4b4b4;
              }
              .allmenu_tit {
                display: block;
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                color: #003668;
                background-color: #f1f1f1;
                border-bottom: 1px solid #b4b4b4;
              }
              ul {
                margin: 15px;
                li {
                  margin-bottom: 7px;
                  a {
                    color: #333;
                    font-weight: bold;
                  }
                  .more {
                    margin: 0;
                    padding: 5px 0;
                    li {
                      margin: 0;
                      padding-left: 10px;
                      background: #fff url(../images/bul_m_3dep.gif) no-repeat
                        3px 50%;
                      a {
                        color: #555;
                        font-weight: normal;
                        font-size: 12px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .showmenu {
          display: block;
        }
      }
    }
  }
}

main {
  width: 100%;
  .visual {
    width: 100%;
    height: 546px;
    position: relative;
    .swiper-container {
      width: 100%;
      height: 100%;
      position: relative;
      .swiper-wrapper {
        height: 100%;
        display: flex;
        .swiper-slide {
          position: relative;
          text-align: center;
          .title {
            padding: 80px 0 20px 0;
            text-align: center;
          }
          .txt1 {
            display: inline-block;
            color: $color-white;
            font-size: $font-size-18;
            position: relative;
            &:before {
              @include txt1_bar(-43px, null);
            }
            &:after {
              @include txt1_bar(null, -43px);
            }
          }
          .txt2 {
            color: $color-white;
            font-size: $font-size-18;
            padding-top: 7px;
          }
        }
        .visual1 {
          background: center / cover url(../images/bg_visual1.jpg) no-repeat;
        }
        .visual2 {
          background: center / cover url(../images/bg_visual2.jpg) no-repeat;
        }
        .visual3 {
          background: center / cover url(../images/bg_visual3.jpg) no-repeat;
        }
        .visual4 {
          background: center / cover url(../images/bg_visual4.jpg) no-repeat;
        }
      }
      .vs-control {
        position: absolute;
        left: 50%;
        bottom: 175px;
        width: 160px;
        height: 30px;
        line-height: 28px;
        margin-left: -80px;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 0;
        text-align: center;
        z-index: 10;
        display: flex;
        justify-content: center;
        .vs-pager {
          width: 80px;
          height: 28px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background: #fff;
            opacity: 0.5;
          }
          .swiper-pagination-bullet-active {
            position: relative;
            opacity: 1;
            &:before {
              content: "";
              display: block;
              position: absolute;
              top: -4px;
              bottom: -4px;
              left: -4px;
              right: -4px;
              border: 1px solid #fff;
              border-radius: 100%;
            }
          }
        }
        .vs-auto {
          display: flex;
          .vs-auto-start {
            width: 18px;
            background: url(../images/main_slider_play.png) no-repeat 50% 50%;
            &:hover {
              cursor: pointer;
            }
          }
          .vs-auto-stop {
            width: 18px;
            background: url(../images/main_slider_pause.png) no-repeat 50% 50%;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .calendar {
      width: 100%;
      height: 138px;
      background-color: $color-cal-bg;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      .cal_head {
        width: 100%;
        height: 54px;
        color: $color-white;
        font-size: $font-size-16;
        position: relative;
        border-bottom: 1px solid $color-cal-line;
        .cal_tit {
          position: absolute;
          top: 0;
          left: 0;
          line-height: 54px;
          padding-left: 25px;
          background: url("../images/cal_tit.png") no-repeat 0 50%;
        }
        .cal_mon {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          line-height: 54px;
          span {
            display: inline-block;
            padding: 0 8px;
            height: 32px;
            line-height: 31px;
            &.month {
              background: $color-cal-red;
            }
          }
          a {
            img {
              vertical-align: middle;
            }
            &.cal_next {
              margin-left: 10px;
            }
          }
        }
      }
      .dates {
        color: $color-white;
        width: 95%;
        height: 56px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .sunday {
          color: $color-cal-red;
        }
        .today {
          position: relative;
          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $color-cal-red;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            z-index: -5;
          }
        }
      }
    }
  }
  .content {
    width: 100%;
    padding-top: $gap-contents;
    background: center / cover url(../images/bg.png) no-repeat;
    .quickBtn {
      width: 100%;
      height: $height-quick;
      display: flex;
      color: $color-white;
      margin-bottom: $gap-contents;
      a {
        display: block;
        width: 25%;
        height: 100%;
        padding: 33px;
        &:first-child {
          @include quickBtn($color-quick-red, $url-quick1);
        }
        &:nth-child(2) {
          @include quickBtn($color-quick-yellow, $url-quick2);
          color: $font-quick-yellow;
        }
        &:nth-child(3) {
          @include quickBtn($color-quick-gray, $url-quick3);
        }
        &:last-child {
          @include quickBtn($color-quick-green, $url-quick4);
        }
        p {
          font-size: $font-size-23;
          font-weight: $font-weight-500;
          margin-bottom: 8px;
          img {
            vertical-align: middle;
          }
        }
      }
    }
    .notice {
      display: flex;
      justify-content: space-between;
      padding-bottom: $gap-contents;
      .news {
        width: 49%;
        .news_tit {
          height: 50px;
        }
        ul {
          background: $color-white;
          li {
            border-bottom: 1px solid $color-border;
            height: 84px;
            a {
              display: block;
              height: 100%;
              position: relative;
              padding-left: 100px;
              padding-right: 20px;
              .date {
                position: absolute;
                top: 24px;
                left: 0;
                width: 92px;
                text-align: center;
                line-height: 20px;
                font-size: $font-size-28;
                color: $color-news-date;
                font-weight: $font-weight-600;
                span {
                  font-size: $font-size-11;
                  color: $color-news-month;
                  font-weight: $font-weight-400;
                }
              }
              .txt {
                font-size: $font-size-17;
                font-weight: $font-weight-400;
                color: $font-black-color;
                line-height: 83px;
              }
            }
          }
        }
      }
      .banner {
        width: 49%;
        position: relative;
        .banner_tit {
          height: 50px;
        }
        .banner-container {
          width: 100%;
          height: 252px;
          overflow: hidden;
          position: relative;
          a {
            display: block;
            height: 100%;
          }
        }
        .bn-control {
          display: flex;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 20;
          div {
            width: 28px;
            height: 28px;
            cursor: pointer;
          }
          .bn-prev-btn {
            background: url(../images/latest_slider_prev.png) no-repeat;
          }
          .bn-next-btn {
            background: url(../images/latest_slider_next.png) no-repeat;
          }
          .bn-stop-btn {
            background: url(../images/latest_slider_shop.png) no-repeat;
          }
          .active {
            background: url(../images/latest_slider_start.png) no-repeat;
          }
        }
      }
    }
    .quickBtn2 {
      width: 100%;
      height: $height-quick;
      display: flex;
      background-color: $color-white;
      margin-bottom: $gap-contents;
      div {
        width: 25%;
        height: 100%;
        &:not(:last-child) {
          border-right: 1px solid $color-border;
        }
        a {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          &:hover img {
            transform: rotateY(360deg);
          }
          img {
            transition: 0.5s;
            padding: 26px 0 11px;
          }
        }
      }
    }
    .partner {
      background-color: $color-partner-bg;
      padding: $gap-contents 0;
      .inner {
        display: flex;
        justify-content: space-between;
        .partner_tit {
          width: 55px;
          color: $font-black-color;
          line-height: 23px;
          text-align: center;
          font-size: $font-size-18;
        }
        .partner-container {
          width: calc(100% - 160px);
          height: 53px;
          overflow: hidden;
          a {
            display: block;
            width: 100%;
            height: 100%;
            border: 1px solid $color-border;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .pt-control {
          display: flex;
          align-items: center;
          div {
            width: 26px;
            height: 30px;
            cursor: pointer;
          }
          .pt-prev-btn {
            background: url(../images/bottom_slider_prev.png) no-repeat 50% 50%;
          }
          .pt-stop-btn {
            background: url(../images/bottom_slider_pause.png) no-repeat 50% 50%;
          }
          .pt-next-btn {
            background: url(../images/bottom_slider_next.png) no-repeat 50% 50%;
          }
          .on {
            background: url(../images/bottom_slider_start.png) no-repeat 50% 50%;
          }
        }
      }
    }
  }
}

footer {
  .footer1 {
    width: 100%;
    height: 48px;
    background: $color-footer1-bg;
    color: $color-white;
    .inner {
      background: $color-footer1-in;
      height: 100%;
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        height: 100%;
        li {
          padding: 0 32px;
          position: relative;
          a {
            display: block;
            width: 100%;
            height: 100%;
            span {
              line-height: 48px;
            }
          }
          img {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }
      .chatbtn {
        display: block;
        height: 100%;
        background: $color-footer1-chat;
        padding: 0 40px;
        font-size: $font-size-15;
        line-height: 48px;
        img {
          vertical-align: middle;
        }
      }
    }
  }
  .footer2 {
    background: $color-white;
    .inner {
      display: flex;
      padding: 25px 0;
      .footer_addr {
        padding-left: 30px;
        span,
        a {
          padding-right: 5px;
          font-size: $font-size-14;
        }
        img {
          margin-top: -5px;
        }
        p {
          font-size: $font-size-13;
        }
      }
    }
  }
}
